#wrapper{
 background-image: url("calci.jpg");
}
#main h1{
    margin: 0;
}
table{
     margin: 0 auto;
        }
table td {
        background-color: white;
        padding: 20px 15;
        border: 2px solid orangered;
        padding: 20px 15px;
        border-radius: 12px;
}

table td:hover {
        background-color: deeppink;
        color:white;
}



